nav {
  background-color: #1976d2;
  padding: 15px;
}

nav h2 {
  color: white;
  display: inline-block;
  margin-right: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}